body {
    font-family: Arial, 'IBMPlexSansKR-Regular'; /* 전체 페이지의 폰트 스타일 지정 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 배경색 설정 */
    text-align: center; /* 제목을 중앙 정렬 */
}

h1 {
    font-family: 'ChosunKg'; /* 제목의 색상 지정 */
    color: #111;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
}

h2 {
    color: #333;
    text-align: left;
    margin-left: 45px;
}

h3 {
    color: #221a1a;
    text-align: left;
    margin-left: 45px;
    margin-right: 30px;
}

p {
    font-family: 'ChosunSg';
    font-size: 16px; /* 문단의 폰트 크기 지정 */
    color: #666; /* 문단의 색상 지정 */
    line-height: 1; /* 문단의 줄 간격 지정 */
    margin-top: 35px;
    margin-left: 50px;
    text-align: left; /* 제목을 중앙 정렬 */
}

a {
    color: #000; /* 링크의 색상 지정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    text-align: center;
}

a:hover {
    color: blue; /* 마우스 오버 시 링크 색상 변경 */
    text-align: center;
}

ul {
    list-style: none; /* 목록의 스타일 없애기 */
    padding: 0;
    text-align: left; /* 제목을 중앙 정렬 */
}

li {
    background-color: #fff; /* 목록 항목 배경색 지정 */
    margin-bottom: 2px; /* 목록 항목 사이의 여백 지정 */
    padding: 1px; /* 목록 항목 내부 여백 지정 */
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 320px;
  margin-left: 45px;
  margin-bottom: 20px;
}

div {
    margin: 20px; /* div 주위 여백 지정 */
    padding: 20px; /* div 내부 여백 지정 */
    background-color: #f4f4f4; /* 배경색 지정 */
    border: none; /* 테두리 지정 */
    text-align: center; /* 제목을 중앙 정렬 */
}

.button {
    font-family: 'ChosunSg';
    color: #000; /* 글자 색깔 */
    text-align:center; /* 글자 중앙정렬 */
    background-color: #f4f4f4; /* 버튼 색깔 */
    border-left: 3px solid black;
    padding-left: 7px;
    min-height: 20px; min-width: 70px; /* 보는 기기에 따라 버튼 크기 조정 가능토록 */
    cursor: pointer; /* 마우스 손가락으로 변형 */
}

hr {
    width: 45%;
    margin-left: 50px;
}

/* 조선견고딕 */
@font-face {
    font-family: 'ChosunBg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 조선굵은고딕 */
@font-face {
    font-family: 'ChosunKg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 조선가는고딕 */
@font-face {
    font-family: 'ChosunSg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* IBM Plex Sans */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}